<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div class="about-content">
      <h1>About Our Eco-Friendly Tips Sharing Platform</h1>
      <p>
        Welcome to our platform dedicated to fostering a sustainable and
        enviromentally concious lifestyle. Our mission is to provide a space
        where users can contribute and discover eco-friendly tips, tricks, and
        practices to collectively work towards a greener future.
      </p>
    </div>
  </body>
</html>
