<!DOCTYPE html>
<html>
  <head>
    <!-- Link to the main stylesheet -->
    <title>Welcome to GreenTips</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <!-- Main content section for the about page -->
    <div class="about-content">
      <!-- Heading for the about page -->
      <h1>About GreenTips</h1>
      <!-- Description of the platform's purpose and mission -->
      <p>
        Welcome to our platform dedicated to fostering a sustainable and
        environmentally conscious lifestyle. Our mission is to provide a space
        where users can contribute and discover eco-friendly tips, tricks, and
        practices to collectively work towards a greener future.
      </p>
      <p>
        When logged in users can: <br />
        1. Submit your eco-friendly tips along with the source website where you
        discovered them and share how these tips have been beneficial for you.
        <br />
        2. Upvote tips that you find helpful. <br />
        3. Utilize the search feature to locate specific tips!!
      </p>
    </div>
  </body>
</html>
