<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to the Eco-Friendly Tips Web App</h1>

    <!-- Navigation Links -->
    <nav>
      <a href="/about">About</a>
      <a href="/tips">Tips</a>

      <!-- Check if the user is logged in -->
      <% if (user) { %>
      <!-- Show a Submit a Tip link if logged in -->
      <a href="/submitTip">Submit a Tip</a>
      <!-- Show logout button if logged in  -->
      <form action="logout" method="post">
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
      <!-- Show registration and login buttons if not logged in -->
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      <% } %>
    </nav>

    <ul>
      <li><a href="/tips/home">Home</a></li>
      <li><a href="/tips/transportation">Transportation</a></li>
      <li><a href="/tips/food">Food</a></li>
      <li><a href="/tips/recycling">Recycling</a></li>
      <li><a href="/tips/clothing">Clothing and Fashion</a></li>
      <li><a href="/tips/gardening">Gardening</a></li>
      <li><a href="/tips/technology">Technology</a></li>
      <li><a href="/tips/travel">Travel</a></li>
      <li><a href="/tips/general">General Tips</a></li>
    </ul>
    <form action="/search" method="get">
      <input type="text" name="q" placeholder="Search tips..." />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
