<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to the Eco-Friendly Tips Web App</h1>

    <!-- Check if the user is logged in -->
    <% if (user) { %>
    <!-- Show logout button if logged in  -->
    <form action="logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <% } else { %>
    <!-- Show registration and login buttons if not logged in -->
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% } %>
  </body>
</html>
