<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to GreenTips</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Login</title>
    <script>
      // Function to display a window alert for incorrect password
      function showIncorrectPasswordAlert() {
        alert("Incorrect username or password");
      }

      // Check if the URL has a query parameter for an authentication error
      window.onload = function () {
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has("error") && urlParams.get("error") === "auth") {
          showIncorrectPasswordAlert();
        }
      };
    </script>
  </head>
  <body>
    <br />
    <h1>Login</h1>
    <form action="/login" method="post">
      <!-- Login form fields -->
      <label for="loginUsername">Username:</label>
      <input type="text" id="loginUsername" name="loginUsername" required />
      <br />
      <label for="loginPassword">Password:</label>
      <input type="password" id="loginPassword" name="loginPassword" required />
      <br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
