<!-- maps.ejs -->
<!DOCTYPE html>
  <head>
    <title>Google Maps</title>
  </head>
  <body>

    <div id="map" style="height: 400px; width: 100%"></div>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlP3Vu2HcUFXLEDwt4ag4E1MYpFeYs9BQ&callback=initMap"
      onerror="handleMapError()"
    ></script>

   
    <script>
      // Function to handle errors if the map script fails to load
      function handleMapError() {
        alert(
          "Error loading Google Maps API. Check your API key and network connection."
        );
      }

      // Function to initialize the map
      function initMap() {
        // Coordinates for London
        const londonLocation = { lat: 51.509865, lng: -0.118092 };

        // Create a map centered at London
        const map = new google.maps.Map(document.getElementById("map"), {
          center: londonLocation,
          zoom: 12, 
        });

      }
    </script>
  </body>
</html>
