<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Submit Tip</title>
  </head>
  <body>
    <h1>Submit Eco-Friendly Tip</h1>
    <form action="/submitTip" method="post">
      <label for="tipCategory">Category:</label>
      <select id="tipCategory" name="tipCategory" required>
        <option value="home">Home</option>
        <option value="transportation">Transportation</option>
        <option value="food">Food</option>
        <option value="recycling">Recycling</option>
        <option value="clothing">Clothing and Fashion</option>
        <option value="gardening">Gardening</option>
        <option value="technology">Technology</option>
        <option value="travel">Travel</option>
        <option value="general">General Tips</option>
      </select>
      <br />
      <label for="tipText">Tip:</label>
      <textarea id="tipText" name="tipText" required></textarea>
      <br />
      <label for="tipLink">Link (optional):</label>
      <input type="text" id="tipLink" name="tipLink" />
      <br />
      <button type="submit">Submit Tip</button>
    </form>
  </body>
</html>
